<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <ul id="messages"></ul>
    </div>

    <div>
        <input id="message" type="text" />
        <button onclick="sendMessage()" type="button">Submit</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js">
        const socket = io("http://localhost:3000");


        function sendMessage() {
            const messageInput = document.getElementById("message");
            const message = messageInput.value;
            if (message.trim() !== "") {
                // Send the message to the server
                socket.emit("createMessage", { clientID: idClient, text: message });
                // Display the message on the client
                messageInput.value = "";
            }
        }

        const buildNewMessage = (message) => {
            const li = document.createElement("li");
            li.appendChild(document.createTextNode(message))
            return li;
        }

    </script>

</body>

</html>